.block {
    display: block;
}

.foot {
    background-color:$background-color;
    height: 252px;
    .logo2 {
        padding-top: 60px;
        margin-left: 215px;
        .menu2 {
            font-family: $font-family;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 50px;
            color:$btn-text-color;
            .color3 {
                color:$email-color;
            }
        }
    }
}
