body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.section1 {
    margin-top: 32px;
    height: 600px;
    background-color:$background-color;
    justify-content: center;
    .section-h1 {
        color:$btn-text-color;
        font-family: $font-family;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        padding-top: 200px;
    }
    .btn {
        width: 216px;
        height: 50px;
        margin-left: 40%;
        background-color: $btn-color;
        @mixin button($display,$font-family){
            font-size: 16px;
            font-weight: 700;
            line-height: 30px;
            padding: 10px 32px;
            color: $btn-text-color;
        }
        .button {
           @include button(block,$font-family);
            border: 1px solid grey;
            
        }
    }
    .modal{
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $email-color;
        .modalelement {
            background-color:$btn-text-color;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            border-radius: 30px;
            .close {
                float: right;
                &:hover{
                    cursor: pointer;
                    background-color: rgb(241, 48, 5);
                    border-radius: 50px;
                }
            }
        }
    }
}

@keyframes animation-modal{
    10%{
        transform: translateX(20%);
    }
    30%{
        transform: translateX(-40%);
    }
    50%{
        transform: translate(20%,300%);
    }
    70%{
        transform: translate(-20%,-300%);
    }
    85%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.modal:hover .modalelement{
    animation-name: animation-modal;
    animation-duration: 3s;
}
// sec1

.section-list {
    display: flex;
    margin-top: 94px;
    justify-content: center;
    gap: 30px;
    .section-list-first-child :first-child {
        font-family: $font-family;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.41px;
        color:$text-color;
        
    }
    
    .section-list-color {
        font-family:$font-family;
        font-weight: 400;
        font-size: 14px;
    
        line-height: 24px;
        color:$email-color;
        /* font-size: 14px; */
    }
   .sec2{
    width: 300px;
   }
}
// 2
.section3{
    .section-h2 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 36px;
        line-height: 42.19px;
        text-align: center;
        margin-top: 118px;
        color:$text-color;
        margin-bottom: 150px;
    }
    .sec3-img{
        align-content: center;
        justify-content: center;
        .section-img {
            margin-left: 50px;
         }
    }
}
//3
.background-sc {
    margin-top: 94px;
    background-color: #F5F4FA;
    width: full;
    height: 648px;
    .section-h2{
        text-align: center;
        padding-top: 50px;
        font-family: $font-family;
        font-weight: 700;
        font-size: 34px;
    }
    .our-members-foto {
        margin-top: 50px;
        gap: 30px;
        margin-right: 60px;
        justify-content: center;
    }
    %img{
       display: block;
    }
    .img1{
        @extend %img;
        box-shadow: 5px 3px 3px 0px rgb(112, 112, 173);
        &:hover{
            box-shadow: 10px 5px 5px 0px rgb(112, 112, 173);
        }
    }
    .img2{
        @extend %img;
        box-shadow: 5px 3px 3px 0px rgb(112, 173, 160);
        &:hover{
            box-shadow: 10px 5px 5px 0px rgb(112, 173, 167);
        }
    }
    .img3{
        @extend %img;
        box-shadow: 5px 3px 3px 0px rgb(183, 40, 186);
        &:hover{
            box-shadow: 10px 5px 5px 0px rgb(197, 37, 181);
        }
    }
    .img4{
        @extend %img;
        box-shadow: 5px 3px 3px 0px rgb(4, 213, 50);
        &:hover{
            box-shadow: 10px 5px 5px 0px rgb(8, 185, 25);
        }
    }
    figure>h4 {
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        color:$text-color;
    }
    
    %p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 18.75px;
        text-align: center;
        color:$email-color;
        opacity: 250%;
    }
    .p1{
        @extend %p;
        color: $email-color;
    }
    .p2{
        @extend %p;
        color: aquamarine;
    }
    .p3{
        @extend %p;
        color: rgb(200, 127, 255);
    }
    .p4{
        @extend %p;
        color: rgb(9, 220, 107);
    }
}
//4