$text-color: #000;
$text-color2: #45e7f6;
$btn-color:#2196F3;
$email-color: #c7bfbf;
$background-color: #2F303A;
$font-family: 'Roboto';
$btn-text-color:#FFFFFF;
* {
    margin: 0;
    padding: 0;

}

.flex {
    display: flex;
}